USE [master]
GO
/****** Object:  Database [QLySinhVien]    Script Date: 25/05/2021 11:56:43 CH ******/
CREATE DATABASE [QLySinhVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLySinhVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.DATNGUYEN\MSSQL\DATA\QLySinhVien.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLySinhVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.DATNGUYEN\MSSQL\DATA\QLySinhVien_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLySinhVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLySinhVien]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 25/05/2021 11:56:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Student](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[gender] [nvarchar](50) NULL,
	[dob] [date] NULL,
	[username] [varchar](50) NULL,
	[passuser] [varchar](50) NULL,
 CONSTRAINT [PK__Student__32C52A791A83B358] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
